/** Header **/
.header{
  width: 100%;
  margin:auto;
  position:absolute;
}

header h1 {
  width: 45%;
  float: left;
  display: flex;
  font-variant: small-caps;
  font-family: 'Red Hat Mono', monospace;
  
}

header nav ul li a {
  font-variant: small-caps;
  font-weight: 535;
  color: $dark-blue-text;
  padding-left: auto;
  
  
}

header nav {
  display: block;
}

header nav ul li {
  display: inline-block;
  }

header nav ul li a {
    padding-left: auto;
    

}

/* Style the links inside the navigation bar */
.topnav a {
  
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: $dark-blue-text;
  
  
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


    
/** Hero **/

#hero {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: url("/src/assets/white-pattern.jpeg");
  background-position: center;
  background-size: cover;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  margin-top: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  
  

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 760px) {
  .topnav a {
    display: none;
    padding: 2px 2px;
    
  
  }

  .topnav a.icon {
    display: auto;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 760px) {

  
  
  .topnav {
    overflow: hidden;
    background: url("/src/assets/white-pattern.jpeg");
    background-position: center;
    background-size: cover;
    z-index: 1;
    
  }
  
  .topnav nav ul a {
    margin-top:1.5rem;
    min-height: 10vh;
  
   
  }

  .topnav.responsive {
    position: relative;
  
  }
  
  .topnav.responsive a.icon {
    position: fixed;
    padding: 0rem 5.6rem;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
  }
  .topnav.responsive a {
    padding: 0 2em;
    display: inline-block;
    text-align: center;
    
  
  }
}